<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Cadastra promocoes</title>
</head>
<body>
  <form action="/promocoes" method="POST">
    <input type="text" name="msg">
    <input type="submit" value="Envia">
  </form>
</body>
</html>
